{% extends './base.html' %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <div class="row justify-content-center"> <!-- Centering the row -->
        <div class="col-md-6 text-center"> <!-- Center text within this column -->
            <h2>Menu Items</h2>
            <ul class="list-unstyled"> <!-- Remove default list styling -->
                {% for item in menu_items %}
                    <li>{{ item.title }} - ${{ item.price }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'admin_menu_item_list' %}" class="btn btn-primary">Manage Menu Items</a>
        </div>
    </div>
{% endblock %}
